body {
	text-align: center;
	background-color: darkgray;
	font-family: Arial, Helvetica, sans-serif;
}

canvas {
	background-color: black;
}

input {
	background-color: #eee;
	border-radius: 6px;
	border-style: outset;
}

#root {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
}

#game {
	display: grid;
	grid-row: 1;
	grid-template-areas: "hold		board		next"
						 ".			board		next";
	grid-gap: 10px;
}
#holdCanvas {
	grid-area: hold;
}
#boardCanvas {
	grid-area: board;
}
#nextCanvas {
	grid-area: next;
}

#controls {
	order: 1;
	margin-top: 10px;
}

#scoreboard {
	background-color: lightgray;
	border-color: black;
	order: 2;
	width: 200px;
	border-style: outset;
	border-radius: 12px;
	margin-top: 10px;
	font-weight: bold;
}

#boards {
	float: right;
	display: grid;
}

.buttons {
	background-color: lightgray;
	border-color: black;
	border-radius: 12px;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
}

#settingsModal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
}

#settingsMenu {
	background-color: white;
	margin: auto;
	padding: 10px;
	width: 30%;

	background-color: lightgray;
	border-color: black;
	border-style: outset;
	border-radius: 12px;
}

.category {
	font-weight: bold;
}

.close {
	font-size: 28px;
	font-weight: bold;
	float: right;
}

.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
}